<div class="card animate__animated animate__fadeIn">
    <div class="card-body">
    <h1 class="font-weight-light">About</h1>
        App de notas, CRUD simple con login hecho con Node, Express, MongoDB y passport
    </div>
</div>