<div class="jumbotron mt-4 animate__animated animate__fadeIn animate__fast">
    <h1 class="display-4">Notes App: Nodejs and MongoDB</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci officiis voluptate blanditiis veritatis ipsam.</p>
    <hr class="my-4">
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci officiis voluptate blanditiis veritatis ipsam.</p>
    {{!-- <a href="" class="btn btn-primary">Xavi.com</a> --}}
</div>