<div class="row animate__animated animate__fadeIn animate__fast">
    {{#each notes}}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        {{title}} <a href="/notes/edit/{{_id}}"><i class="fas fa-edit font-weight-light"></i></a>
                    </h4>
                    <p>{{description}}</p>
                    <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger btn-block">
                            Borrar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {{/each}}
</div>